/* InteractiveButton.module.css */
.button {
    padding: 15px 30px;
    font-size: 1.2em;
    background: linear-gradient(to right, #ff9966 0%, #ff5e62 100%);
    background-size: 200% auto;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.5);
    cursor: pointer;
    outline: none;
    transition: all 0.4s ease-out;
  }
  
  .button:hover {
    background-position: right center; 
  }
  
  .button:focus {
    outline: none;
  }
  